<div id="content" class="content-box-m">

<h3>Chairman:</h3>
<p><b>Fred Wabwire-Mangen (MBChB, DTM&H, MPH, PhD)</b> is Acting Director of the Regional Centre for Quality of Health Care (RCQHC) and an Associate Professor of Epidemiology and Public Health at the Makerere University School of Public Health.</p>

<h3><br>Members:</h3>
 <b> Alex Opio (M.B.Ch.B, Msc, PhD)</b> is currently serving as the Assistant Commissioner Health Services for National Disease Control in the Ugandan Ministry of Health.<br /><br>
 	<div class="cf-left" style="border: 1px solid #e4f0fe; float:right;">	
                                                    <div class="container_sidebar2" >
                                                    	<h4>Chairman</h4>
                                                      <ul>
            											<li>» Fred Wabwire-Mangen (MBChB, DTM&H, MPH, PhD)</li>
                                                      </ul>
                                                       <h4>Members</h4>
                                                      <ul>
                                                        <li>» Alex Opio (M.B.Ch.B, Msc, PhD)</li>
                                                        <li>» Henry Tumwijukye Esq. LLB</li>
                                                        <li>» Solomon Thomas Baganja, CAT, BSc., ACCA</li>
                                                        <li>» Sabrina Bakeera-Kitaka, (MBChB,MMed Paed)</li>
                                                        <li>» Adoke Yeka, (MBChB, MPH)</li>
                                                        <li>» Harriet Mayanja-Kizza, (MBChB, MMed, MS, PhD)</li>
                                                        <li>» Florence Maureen Mirembe (MBCHB, DIP (O) MMed (Obs/Gynae) PhD FRCOG)</li>
                                                    </ul>
                                                    	<h4>Ex-Officials</h4>
                                                    <ul>
                                                        <li>» Moses R. Kamya (M.B.Ch.B, M.Med, MPH, PhD)</li>
                                                        <li>» Catherine Tugaineyo (BA, MBA)</li>
                                                    </ul>
                                              </div>
                                         </div>
 
<b>Henry Tumwijukye Esq. LLB</b> is a Ugandan – trained lawyer and former Director of Administration and Grants at the Makerere University – Johns Hopkins University Research Collaboration (MU-JHU). He is currently a consulting Country Director for the Amsterdam Institute for Global Health and Development (AIGHD) in Uganda. He is also the Managing Director of a consulting company (Global Research Administration and Management Services - GRAMS) specializing in provision of services in research and grants management.<br /><br>

<b>Solomon Thomas Baganja, CAT, BSc., ACCA</b> is an Accounting Consultant and is currently self employed as an accounting and audit consultant. He is the Managing Director of SKYLINE Consults &amp; Associates Ltd.<br /><br>

<b>Adoke Yeka, (MBChB, MPH)</b> is currently an Assistant Lecturer in the Department of Disease Control and Environmental Health, School of Public Health, College of Health Sciences, Makerere University-Kampala. </p>

<p><br><b>Sabrina Bakeera-Kitaka, (MBChB,MMed Paed)</b>, is a Senior Lecturer at the Department of Paediatrics, Makerere University College of Health Sciences. She is also serves as a consulting Paediatrian on Stanfield Ward at Mulago National Referral Hospital as well as the Paediatrics Infectious Diseases Clinic at Mulago.</p>

<p><br><b>Harriet Mayanja-Kizza, (MBChB, MMed, MS, PhD)</b> Professor of Medicine, Makerere University, College of Health Sciences.</p>

<p><br><b>Florence Maureen Mirembe (MBCHB, DIP (O) MMed (Obs/Gynae) PhD FRCOG)</b> is a medical doctor, a practicing Obstetrician/Gynaecologist. She is a retired Professor from Makerere University, College of Health Sciences where she worked as a University Professor, a researcher, a clinical service provider and mentor to many within her own discipline and other related areas.  She is currently a professor at Uganda Christian University in the Faculty of Science and Technology- Save the Mother program which she and two other colleagues founded.</p>

<h3><br>Board Ex-Officials</h3>
<p><b>Moses R. Kamya (M.B.Ch.B, M.Med, MPH, PhD)</b> is currently the Executive Director is currently a professor and Chair of the department of medicine at Makerere University College of Health Sciences</p>

<p><br><b>Catherine Tugaineyo (BA, MBA)</b> is currently Finance and Administrative Director of IDRC 
IDRC has a General Assembly that meets once a year. The General Assembly is the supreme authority of the Organization.</p>

<p style="border-bottom: dashed; border-top: dashed; margin: 10px 0 10px 0; padding: 4px 0 4px 0;">

<em>IDRC also has a Senior Management Team (SMT) that meets after every 2 months. The SMT is tasked with overseeing the day to day running of the Collaboration. The SMT comprises of the Heads of projects and Divisions and is chaired by the Executive Director. </em>
</p>
</div>