<div id="content" class="content-box-m">
  <h3>&nbsp;IDRC Office Facilities</h3>
  <h4> Tororo Research Clinic</h4>
	 <img src="./gfx/facilities-off-002.jpg" alt="Dr. Abel Kakuru" class="content-imgs"> The  IDRC Tororo Research Clinic site was opened in July 2007 and renovated in 2009.  The first research study at the clinic was the Tororo Child Cohort (TCC) a  study which was aimed at studying interactions between HIV and Malaria. To date  (2013), the Tororo Research Clinic has conducted 5 large cohort clinical trials  in HIV and malaria including the PROMOTE program, several placental malaria and  pharmacokinetic studies, extensive laboratory research, qualitative,  nutritional evaluations, TB and implementation science studies. <b></b><br>
	  The  Tororo Research Clinic has over 70 employees, consisting of the clinic team of  nurses and clinicians, laboratory technicians that assist with the diagnosis of  diseases like malaria and HIV, a data team that is in charge of uploading our  hardcopy data into electronic data bases and the administration team which  facilitates, and supports the study office and site staff.  Dr. Abel Kakuru, Clinic Director, heads the  Tororo Research Clinic.<br>
  <img src="./gfx/facilities-off-001.jpg" alt="Tororo Clinic Staff" class="content-imgs" style="float: right">
	  <b>Activities  at the Tororo Research Clinic:   </b>
    <ul type="disc">
      <li>» Research on treatment and prevention of malaria, HIV and other diseases, including the PROMOTE program,       pharmacokinetic and placental malaria studies.</li>
      <li>» Laboratory research and services include testing for malaria and HIV, histology for placental malaria, and maintaining       a specimen repository</li>
      <li>» HIV care services including counseling and ART provision.</li>
      <li>» Pharmacokinetic studies of antimalarial and antiretroviral drug interactions </li>
      <li>» Studies on malnutrition which include participant nutritional support</li>
    </ul>
    <p>The  research from the Tororo Research Clinic has been very productive in terms of  contributing towards the scientific community.   For more information about these studies, visit the <a href="http://muucsf.org/"><b>MU-UCSF  Research Collaboration</b></a><b> </b>website.</p>
    <p>  <br>
      <h4>Mbarara Office</h4>
      <img src="./gfx/facilities-off-004.jpg" class="content-imgs" alt="Dr. Jane Kabami">The  IDRC -Mbarara office was opened early 2011 to host the Sustainable East African  Research for Community Health (SEARCH) collaboration activities.  The office currently supports the regional  activities for SEARCH collaboration including a large randomized community  trial as well as several other studies including START-ART and EARLI. The IDRC  -Mbarara office is headed by Jane Kabami, Program Coordinator, Dr. Dathan  Byonanebye, Clinical Coordinator, and Oliva Nabitaka, Administrative Officer  and supports nearly 120 staff working in this region<b>. </b>The office is located on Fort Portal Road in Mbarara. <br>
  <b>IDRC-Mbarara supported  activities:</b> <img src="./gfx/facilities-off-003.jpg" alt="Mbarara Offices" class="content-imgs" style="float: right">
  <ul type="disc">
      <li>» Community Health Campaigns and Linkage to Care as provided by SEARCH for 10 communities of approximately       10,000 persons each</li>
      <li>» Household socio-economic surveys and qualitative studies</li>
      <li>» EARLI study ongoing at the Bwizibwera MJAP clinic for treatment of persons with CD4 &gt;250.</li>
      <li>» POV (pharmacy-only visits) study at the MMC MJAP clinic is reviewing program successes and challenges</li>
      <li>» START-ART study for the acceleration of ART initiation in the MMC MJAP program        </li>
    </ul>
 </p>

<h4><br>Mbale Office</h4>
   <p>The IDRC  -Mbale office was opened June 2013 to host the Sustainable East African  Research for Community Health (SEARCH) collaboration activities in Eastern  Uganda including the districts of Mbale, Tororo, Pallisa, Iganga, Bugiri,  Bulambuli, Kibuku, Luuka and Namutuma.   The IDRC -Mbale office is co-headed by Dr. Florence Mwangwa and Dr.  Emmanuel Ssemmondo and plans to support nearly 100 staff working in this region</p>. <br>
  <h4>Jinja Office</h4>
      <p>IDRC Jinja research office has been serving as a sentinel site for  malaria surveillance since 1998 and was expanded in July 2011 to accommodate  cohort studies, cross-sectional surveys and entomological studies as part of  the International centers of excellence in malaria research (ICEMR) in Uganda.  The site has 2 dedicated clinicians to cover the study clinic everyday  (including Sunday), 5 laboratory technicians to perform malaria diagnosis by  microscopy and collect blood samples for immunology studies, 2 entomology  laboratory technicians to collect mosquito samples for entomology studies, and  2 data officers for data entry. The team has access to the enumeration list and  GPS coordinates of household within this study area for cross-sectional  surveys.<br>

</div>
