<div id="content" class="content-box-m">
  <h3>Finance and Administration</h3>
  <p>
	  The IDRC Finance and Administration division is responsible for overseeing all fiscal functions  of the organization, ensuring that the organization operates in an effective  and fiscally sound manner.
      <img src="./gfx/ct.jpg" alt="Catherine Tugaineyo" style="float:left;padding: 2px; border: 1px solid #666666; margin: 5px;" > 

      The division ensures that IDRC has the people, processes,  and systems in place to advance its mission. The division at the IDRC is headed  by the Finance and Administrative Director, Ms. Catherine Tugaineyo; The Finance  and Administrative Director also assists the Executive Director and works  closely with other members of the Senior Management Team and the Board of  Directors. </p>
    <p > <br>
      <b>Finance and Administrative Staff</b><br>
      The IDRC  Finance and Administrative Team is comprised of 26 staff members within the  Human Resources, Procurement and Administration and Finance departments:<br>
     
      <img src="./gfx/faa-staff.png" alt="Finance and Administrative Staff" style="float: right; padding: 2px; border: 1px solid #666666; margin: 5px;">
      
  <em>Human Resource department</em>: Headed by Ms. Patience Aweko, this  department is responsible for managing all aspects of Human Resources including  employment contracts and ensuring that the terms and conditions of service are  always up to date. <br>
  <em>Procurement department</em>: Headed by Mr. Isaac Odong, this  department is responsible for managing all the processes of purchase of goods  and services for the organization and ensures effective procurement and  utilization of capital resources. <br>
  <em>Administration department</em>: Headed by Ms. Peggy Kakitojo, this  department is comprised of all of support staff including drivers, security,  and office assistants. This department oversees all vehicles owned by IDRC and  transport study staff as required. The Administration department also  identifies accommodation for visiting IDRC collaborators.<br>
  <em>Finance department</em>: Headed by the Finance Manager, Ms. Sarah Ruhukya; a team of dedicated Accountants manage all of IDRC&rsquo;s  bank accounts, advises and works with the rest of the research team on budgets,  generates financial reports and handles all IDRC financial transactions.
  <em>Grants and Contracts</em>: Headed by the Grants Manager; Ms. Jacquiline Namyalo; provides overall management of grants and contracts for IDRC. The Grants unit ensures compliance with rules, developing appropriate budgets, project set ups and grant close outs, production of regular financial reports and tracking of expenditures.</p>
    <br clear="all">
</div>
