<div id="content" class="content-box-m">
  <h3>IDRC Laboratories</h3>
  <p><br>
	  In 2005, the  MU-UCSF Research Collaboration acquired an old laboratory on the campus of  Mulago Hospital. The laboratory underwent a major renovation and it now has  excellent capacity for molecular research. The laboratory is directed locally  by Dr. Sam Nsobya, Bsc. Msc. PhD, Makerere University, IDRC and by Professor  Philip Rosenthal, MD, from the University of California, San Francisco. <br>
	  In 2008,  IDRC appointed Dr. Sam Nsobya as the director of the Laboratory Department, and  Moses Kiggundu as assistant director, to provide oversight of the Molecular  Research Laboratory (MOLAB) and the Tororo Research Laboratory (TOLAB).  These laboratories serve multiple clinical  and laboratory research projects and surveillance programs taking place  throughout Uganda.<br>
	  Sam Nsobya Laboratory Director and  Moses Kiggundu Lab Manager picture </p>
    <p><b><br>MOLAB</b> <br>
      The Molecular Research Laboratory  (MOLAB) in Kampala is located on the campus of Mulago Hospital. <img src="./gfx/molab.jpg" alt="x" style="float: right;" >The laboratory  serves all of our clinical projects and surveillance projects in Uganda by  providing confirmatory expert malaria microscopy for studies in Kampala and at  our field sites. The laboratory also has routine capability (including PCR,  RFLP analysis, and gel imaging and documentation) to genotype parasites for  clinical outcome assessments and to characterize molecular markers of parasite  drug resistance. In addition, it has the capacity for the culturing of malaria  parasites. <br>
      Key features of the infrastructure  available at our laboratory in Kampala include the following:  multiple microscopes, tissue culture  biosafety hood, incubators, refrigerators, -20 &deg;C freezers, -80 &deg;C  freezers, liquid nitrogen storage system, three PCR machines,  one real time PCR machine, power supplies,  electrophoresis equipment, gel documentation system, magpix machine (luminex)  and  two spectrophotometer/ELISA readers. <b> </b>The  laboratory infrastructure include:   generator back-up, with automatic start when there is a power cut. Other  routine small equipment include: water baths, a pH meter, hot plates, stirrers,  vortexers, pipetters, centrifuges and Millipore. <br>
  <b><br>Current MOLAB activities:</b></p>
    <ul>
      <li>»	Serve  as a central repository for the distribution of supplies to surveillance sites  and the collection, collation, and storage of samples from surveillance sites</li>
      <li>»	Support  laboratory components of surveillance activities.</li>
      <li>»	Capacity  for the organization and storage of large numbers of samples</li>
      <li>»	Storage  of blood components for immunological assays and perform Elisa assay</li>
      <li>»	Perform molecular studies to assess mediators  of drug and insecticide resistance</li>
      <li>»	Oversee  field assessments of insecticide sensitivity in anopheline mosquitoes</li>
      <li>»	Culture  of malaria parasites </li>
      <li>»	Refresher  training and site supervision for field lab techs</li>
    </ul>
    <p><b><br>TOLAB</b> <br>
      In 2009, TOLAB was established in Tororo Hospital complex  at the IDRC Research Clinic, which now has capacity for molecular studies,  culture of malaria parasites, and the harvesting of peripheral blood  mononuclear cells to support translational molecular, parasitology, and  immunology studies. The Tororo laboratories have extensive capacity for storage  of samples at -80 &deg;C and in liquid nitrogen, computerized databases  for stored samples, generator power back-up, and high speed internet access,  providing appropriate conditions for cutting-edge molecular research adjacent  to our centers for clinical research.</p>
<img  src="./gfx/tolab-hr.jpg" alt="">     
      	
</div>