
    	<div id="header"><img src="gfx/IDRC-Logo.png">      
        </div>
        <div class="MMenu">
        	<ul><li><a href="./index.php">Home</a></li>
              <li><a href="./index.php?prgm=where-we-work">About Us</a>
              <ul>
                  <li><a href="./index.php?prgm=where-we-work">Where We Work</a></li>
                  <li><a href="./index.php?prgm=board-of-dir">Board of Directors</a></li>
                  <li><a href="./index.php?prgm=our-partners">Our Partners</a></li>
                </ul>
              </li>
      		<li><a href="./index.php?prgm=facilities-faa">Facilities</a>
           <ul>	  <li><a href="./index.php?prgm=facilities-faa">Finance and Admin</a></li>
        		  <li><a href="./index.php?prgm=facilities-rad">Regulatory and Affairs Dept</a></li>
                  <li><a href="./index.php?prgm=facilities-labs">IDRC Laboratories</a></li>
                  <li><a href="./index.php?prgm=facilities-off">IDRC Offices</a></li>
                  <li><a href="./index.php?prgm=facilities-dmc">Data Management Centers</a></li>
                </ul>
              </li>
              <li><a href="./index.php?prgm=">Projects</a>
<ul>
        <li><a href="./index.php?prgm=ongoing-projects">Ongoing Projects</a></li>
                  <li><a href="./index.php?prgm=past-projects">Past Projects</a></li>
                </ul>
              </li>
              <li><a href="./index.php?prgm=idrc-pubs">Publications</a></li>
              <li><a href="./index.php?prgm=careers">Careers</a></li>
              <li><a href="./index.php?prgm=contacts">Contact Us</a></li>
            </ul>
            <div id="searchwrapper"><form method="get" action="http://www.google.com/search">
            <input type="hidden" name="s" value="http://idrc-uganda.org" />
            <input name="site-search" type="text" class="searchbox" placeholder="Search our site..." />
            <input type="image" src="gfx/src.png" class="searchbox_submit" value="" />
            </form>
            </div>
        </div>