<div id="content" class="clear">
<div class="hp-right">
	<h1 class="content-head-2">IDRC Vision</h1>
    <p class="content-box-m"><span class="dropcap">T</span>o become a leading Ugandan research organization in infectious diseases.</p>
    
    <h1 class="content-head-2">IDRC Mission</h1>
    <p class="content-box-m"><span class="dropcap">T</span>To reduce the burden of global disparities in infectious diseases through a partnership conducting high quality research in Uganda.</p>
    
    <h1 class="content-head-1">Core Values</h1>
    	
    	<ul class="ul02 content-box-m" >
       	<li> »	Respect and dignity for study participants and their families.</li>
		<li> »	Bilateral partnership based on equality, mutual respect and cultural sensitivity.</li>
		<li> »	Nurturing an atmosphere that promotes professional development</li>
		<li> »	Transparency, courtesy and openness in performance of one’s duties</li>
		<li> »	Fiscal responsibility</li>
		<li> »	Integrity</li>
		</ul>
      <div >
      	<a href="./index.php?prgm=our-partners"><img src="./gfx/PartnerLogos.png" border="0"></a>
      </div>
</div>
<div class="hp-left">
	<div id="sliderFrame">
        <div id="slider">
           
            <img src="./gfx/hp-banner-2.jpg" alt="Admin and Finance Staff" />
            <img src="./gfx/hp-banner-3.jpg" alt="Jinja Health Center Staff" />
            <img src="./gfx/hp-banner-4.jpg" alt="Tororo Hospital Clinic Staff" />
            <img src="./gfx/hp-banner-5.jpg" alt="Mbale Office Staff" />
            <img src="./gfx/hp-banner-1.jpg" alt="Catherine Tugaineyo, Admin and Finance Director" />
        </div>
        
    </div>
    <div class="content-box">
    	<h1 class="content-head-1">About IDRC</h1>
    	<p>The Infectious Diseases Research Collaboration (IDRC) is a non-profit research organization. IDRC conducts research in infectious diseases including Malaria, HIV and Tuberculosis. Our studies have led to over 150 publications and have impacted on the management of infectious diseases in Uganda. IDRC currently manages over 41 grants with an annual budget of $11 million. IDRC was established in May 2008 by Ugandan health scientists from Makerere University College of health sciences, University of California, San Francisco and the Uganda Ministry of health.</p>
    </div>
    
    <div class="content-box">
    	<h1 class="content-head-1">Objectives</h1>
    		<ul >
        		<li>»	To build capacity through training, technology advancement and improvement of local health service infrastructure</li>
				<li>»	To conduct research in infectious diseases such as Malaria, HIV/AIDS and Tuberculosis</li>
				<li>»	To disseminate results of research and promote an evidence-based approach to policy making by linking researchers and policy makers.</li>
				<li>»	To support the efforts of the Uganda Ministry of Health, Mulago Hospital and other related health institutions in Uganda in providing prevention, care and treatment in the area of infectious diseases.</li>
				<li>»	To seek out and receive donations, grants and other funding from international donors and other sources interested in the objects of the NGO.	</li>
                </ul >

    </div>
</div>
</div>