<div class="side-menu" >
        	<h3>On-going Projects</h3>
            <ul style=" float: right">
            	<li><a>» MIND  Study: Mulago Inpatient Non-invasive Diagnosis of Pneumonia</a></li>
                <li><a>» A  longitudinal cohort study of HIV-infected persons hospitalized with pneumonia  in two settings: Mulago Hospital, Kampala and San Francisco General Hospital,  San Francisco</a></li>
                <li><a>» PROMOTE:  Prevention of Malaria and HIV Disease in Tororo, Uganda </a></li>
                <li><a>» PROMOTE - Pediatrics</a></li>
                <li><a>» PROMOTE - PIs (Pregnant women and  Infants)</a></li>
                <li><a>» PROMOTE – Chemoprevention</a></li>
                <li><a>» PROMOTE  – Drug Resistance</a></li>
                <li><a>» SEARCH:  Sustainable East Africa Research in Community Health </a></li>
                <li><a>» SEARCH  Randomized Trial</a></li>
                <li><a>» EARLI: Early  Antiretroviral Therapy in Resource Limited Settings in Patients with High CD4+  Cell Counts</a></li>
                <li><a>» SEARCH  Community Campaign, Linkage and Household Survey Protocol</a></li>
                <li><a>» ICEMR/PRISM</a></li>
                <li><a>» Supporting the Implementation of  Malaria Prevention and Control Strategies Relevant Ancillary Activities in the  Republic of Uganda</a></li>
                <li><a>» Pharmacokinetic  Interactions between Antiretroviral Agents, Lopinavir/Ritonavir and Efavirenz  and Antimalarial Drug Combinations, Artesunate/ Amodiaquine and  Artemether/Lumefantrine</a></li>
                <li><a>» HIV VCT and Linkage to Care in Uganda</a></li>
                <li><a>» ACT  PRIME: Comparing the impact of enhanced health facility-based care on malaria  and febrile illnesses in children in Tororo, Uganda</a></li>
                <li><a>» ACT  PROCESS</a></li>
                <li><a>» START-ART:  Streamlined ART Initiation Strategy</a></li>
                <li><a>» Malaria  Control Policy Assessment - Uganda</a></li>
                <li><a>» Tuberculosis Acquisition in Early Childhood in Uganda: Influence of HIV  exposure and malnutrition</a></li>
                <li><a>» TRAP-TB:  The Transmission and Pathogenesis of TB - Molecular Epidemiology and Geospatial  Analysis of TB Transmission in Tororo Uganda</a></li>
                <li><a>» TET:  Therapeutic Efficacy Trial- Efficacy of artemether-lumefantrine and amodiaquine  + artesunate for treatment of uncomplicated malaria in children in Uganda </a></li>
                <li><a>» UTBSP:  Uganda Tuberculosis Surveillance Project </a></li>
                <li><a>» RO1  Immunology: Impact of Chemoprevention on Humoral Antimalarial Immunity </a></li>
                <li><a>» The PQ Study</a></li>
                <li><a>» Acceptability  and feasibility of serial HIV testing during pregnancy and the postpartum  period with male partner testing in Tororo, Uganda</a></li>
            </ul>
        </div>